@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YourFont';
  src: url('/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: larger;
}

.font1 {
  font-family: 'YourFont', sans-serif;
}


@keyframes scroll {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.paused {
  animation-play-state: paused;
}

@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}


.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}